server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/

spring:
  application:
    name: apigateway
  cloud:
    gateway:
      routes:
        - id: sender-service
          uri: lb://sender-service
          predicates:
            - Path=/sender/**
        - id: reciever-service
          uri: lb://reciever-service
          predicates:
            - Path=/reciever/**